.footer {
  width: 100%;
  background-color: var(--bg-color-green);
  height: 100%;
  margin-top: 14rem;
  padding: 5rem 0 2.7rem;

  @include tablet {
  }

  @include laptop {
  }

  &__inner {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 0;
    flex-wrap: nowrap;

    @include tablet {
    }
  }

  &__socials {
    display: flex;
    width: 33rem;
    flex-direction: column;
    margin-right: 5rem;
  }

  &__logo {
    width: 25rem;
    margin-bottom: 4rem;
  }

  &__motto {
    color: var(--font-color-white);
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 4rem;
  }

  &__links_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.3rem;

    &__icon {
      width: 5.3rem;
      height: 5.3rem;

      @include hover {
        & svg {
          transition: fill var(--transition);
          fill: var(--font-color-silver-sand);
        }
      }
    }

    &__icon_telegram {
      width: 5.3rem;
      height: 5.3rem;

      @include hover {
        & path {
          transition:
            fill var(--transition),
            stroke var(--transition);
        }

        & path:first-of-type {
          stroke: var(--font-color-silver-sand);
        }

        & path:nth-child(2) {
          fill: var(--font-color-silver-sand);
        }

        & path:last-of-type {
          fill: var(--font-color-silver-sand);
        }
      }
    }
  }

  &__links_margin_bottom {
    margin-bottom: 6.3rem;
  }

  &__bottom_left {
    display: flex;
    justify-content: space-between;

    &__text {
      color: var(--font-color-white);
      font-family: var(--poppins);
      font-size: 14px;
      font-weight: 600;
      margin-right: 3.6rem;
      text-transform: capitalize;
    }

    &__icon_visa {
      width: 4.2rem;
      height: 1.4rem;
      margin-right: 2rem;
    }

    &__icon_master {
      width: 3rem;
      height: 1.8rem;
    }
  }

  &__categories {
    display: grid;
    width: 100%;
    max-width: 90rem;
    column-gap: 10rem;
    grid-template-rows: auto;
    grid-template-columns: auto 20rem 38rem;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      width: fit-content;
      width: 100%;
    }

    @include tablet {
    }

    @include laptop {
    }
  }

  &__category {
    &__title {
      color: var(--font-color-white);
      font-size: 1.6rem;
      font-family: var(--eUkraine400);
      text-transform: uppercase;
      margin-bottom: 2.9rem;
    }

    &__items {
      color: var(--font-color-silver-sand);
      font-family: var(--nunitoSans);
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      &:hover {
        color: var(--font-color-white);
      }
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      gap: 1.9rem;
      width: 100%;

      &__items {
        color: var(--font-color-silver-sand);
        font-size: 1.4rem;
        font-weight: 300;
        font-family: var(--eUkraine300);
        line-height: 27.517px;

        &:hover {
          color: var(--font-color-white);
        }
      }
    }
  }

  &__made_by {
    color: var(--font-color-dark-liver);
    font-family: var(--eUkraine500);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width: fit-content;
    margin-right: 19rem;

    &__icon {
      width: 7.2rem;
      height: 1.3rem;
    }
  }
}
