.footer {
  width: 100%;
  padding: 6rem 0;
  background-color: var(--body-bg-color-dark);
  height: 100%;
  margin-top: 14rem;

  @include tablet {
    padding: 6rem 1rem;
  }

  @include laptop {
    padding: 4.8rem 4rem;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--font-color-white);
    margin-bottom: 1.6rem;

    @include tablet {
      margin-bottom: 0;
      border: none;
      flex-wrap: nowrap;
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    margin-bottom: 7.7rem;
    margin-right: 5rem;
    flex-shrink: 0;
  }

  &__main_logo {
    width: 30.4rem;
    height: 5.2rem;
    margin-bottom: 4rem;
    flex-shrink: 0;
  }

  &__links_container {
    display: flex;
    column-gap: 2.8rem;

    &__icon {
      width: 4rem;
      height: 4rem;

      @include hover {
        & svg {
          fill: var(--svg-hover-color);
        }
        transition: fill var(--transition);
      }
    }

    &__categories {
      display: grid;
      row-gap: 6rem;
      width: 100%;
      max-width: initial;
      margin-bottom: 15rem;

      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;

      &__full_size {
        grid-column: 1/3;

        @include tablet {
          grid-column: auto;
        }
      }

      @include tablet {
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
      }

      @include laptop {
        margin-bottom: 0;
        max-width: 90rem;
      }

      &__item {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        width: fit-content;
      }
    }

    &__icon_telegram {
      width: 4rem;
      height: 4rem;

      @include hover {
        & path {
          transition: fill var(--transition);
        }
        & path:first-of-type {
          stroke: var(--svg-hover-color);
        }

        & path:last-of-type {
          fill: var(--svg-hover-color);
        }
      }
    }
  }

  &__category {
    color: var(--font-color-white);
    font-size: 1.6rem;
    font-family: var(--eUkraine400);
    text-transform: uppercase;

    &__block {
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
    }

    &__items {
      color: var(--font-color-silver-sand);
      font-size: 1.4rem;
      font-weight: 300;
      font-family: var(--eUkraine300);
      text-transform: uppercase;
    }

    &__item_large {
      font-weight: 600;
      text-transform: initial;
    }

    &__policy {
      color: var(--font-color-spanish-grey);
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2.1rem;
      font-family: var(--eUkraine500);
    }
  }

  &__made_by {
    color: var(--font-color-dark-liver);
    font-family: var(--eUkraine500);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width: fit-content;
    margin: auto;

    @include tablet {
      width: 100%;
    }

    &__icon {
      width: 7.2rem;
      height: 1.3rem;
    }
  }
}
