.application {
  margin-bottom: 5rem;
  background-color: var(--bg-color-green);
  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.2rem 0;
  }

  &__body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1ref 1ref;
    grid-row-gap: 5.8rem;
    max-width: 77rem;
    padding: 0 4rem;
    color: #fff;
    font-family: var(--montserrat);

    &__item {
      width: 100%;
      text-align: center;
    }

    &__title {
      font-size: 24px;
      font-weight: 700;
    }

    &__text {
      margin-bottom: 1.8rem;
      font-size: 20px;
      font-weight: 500;
      hyphens: none;
    }

    &__icons_container {
      display: flex;
      justify-content: space-between;
      width: 28rem;
      margin: auto;
    }

    &__icon {
      &:first-child {
        width: 12rem;
        height: 4rem;
      }
      &:last-child {
        width: 13.5rem;
        height: 4rem;
      }
    }
  }
}
