:root {
  // font color
  --font-color-white: #ffffff;
  --font-color-black: #000000;
  --font-color-silver-sand: #c3c7c7;
  --font-color-dark-liver: #4d4d4d;
  --font-color-spanish-grey: #999999;
  --font-color-deep-blue: #032a59;
  --font-color-prussian-blue: #032a59;
  --font-color-midnight-blue: #003e87;
  --font-color-usafa-blue: #00469b;
  --font-color-vampire-black: #0a0a0a;
  --font-color-eerie-black: #1c1c1c;
  --font-color-outer-space: #464646;
  --font-color-error-message: #d30018;
  --font-Road-dividers: #2d2d2d;
  --font-color-placeholder-grey: #e1e1e1;

  //body
  --body-bg-color-primary: #ffffff;
  --body-bg-color-dark: #0f1e22;
  --body-bg-color-blue: #0f222c;
  --header-bg-color-blue: #00469b;
  --border-bg-color-grey: #00469b33;

  //button
  --button-primary-main: #00469b;
  --button-primary-hover: #0560cd;
  --button-primary-active: #072345;
  --button-secondary-font-color: #00469b;

  // scroll
  --scrollbar-track-color: #ffffff;
  --scrollbar-thumb-color: #0f1e22;

  // svg hover
  --svg-hover-color: #0274ff;
}
