:root {
  // font color
  --font-color-white: #ffffff;
  --font-color-black: #000000;
  --font-color-silver-sand: #c3c7c7;
  --font-color-dark-liver: #4d4d4d;

  --font-color-disabled: #ffffff99;
  --font-color-footer-grey: #c3c7c7;
  --font-color-footer-dark-grey: #4d4d4d;

  //body
  --body-bg-color-primary: #ffffff;
  --body-bg-color-dark: #0f1e22;
  --header-bg-color-green: #1c3d2b;
  --header-bg-color-black: #1c1f22;
  --active-tab-bg-color: #086a31;
  --footer-bg-color: #1c3d2b;
  --body-bg-color-primary: #ffffff;
  
  // scroll
  --scrollbar-track-color: #ffffff;
  --scrollbar-thumb-color: #0f1e22;
}
