:root {
  --min-width: 320px;
  --max-width: 1330px;

  --header-height: 13.6rem;

  --font-family-primary: var(--montserrat);

  @include laptop {
    --header-height: 18rem;
  }

  --transition: 0.25s ease-in-out;
}
