.lang_btn {
  display: flex;
  align-items: center;
  color: var(--font-color-black);
  border: 1px solid var(--font-color-usafa-blue);
  padding: 0.8rem;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.56px;
  text-transform: uppercase;

  &__eng {
    padding-left: 1rem;
    cursor: pointer;
    transition: color 0.5s ease-out;
    &_active {
      color: var(--font-color-usafa-blue);
    }
  }

  &__ua {
    padding-right: 1rem;
    cursor: pointer;
    transition: color 0.5s ease-out;
    border-right: 1px solid var(--font-color-usafa-blue);
    &_active {
      color: var(--font-color-usafa-blue);
    }
  }
}
