.header {
  width: 100%;
  background-color: var(--bg-color-green);
  height: var(--header-height);

  &_active {
  }

  &__logo {
    width: 16.4rem;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__logo_container {
    display: flex;
    width: 13rem;
    flex-wrap: wrap;
  }

  &__links,
  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    display: none;
    margin-left: 8.8rem;

    @include laptop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__links {
    color: var(--font-color-disabled);
    min-width: 66rem;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__menu {
  }

  &__burger_icon {
    @include laptop {
      display: none;
    }
  }
}
